.container
  .row
    .col-md-8
      %h1 To-Do
      .new-item
        = render partial: 'items/form', locals: {user: @user, item: @user.items.new}
    .col-md-4
      %h1= current_user.email
      %ul
        %li Add a new todo list item.
        %li Then add as many subitems as you want.
        %li Mark all subitems as complete in order to complete an item.
  .row
    .js-items
      .item-group= render @items
