.container
  .row
    .col-md-8
      %h1 To-Do
      %p This is where all the to-do list items will be
    .col-md-4
      %h1= current_user.email
      %p Something about user todo items or historical completion of tasks
