.container
  .row
    .col-md-8
      %h1 To-Do
      .new-item
        = render partial: 'items/form', locals: {user: @user, item: @user.items.new}
      .js-items
        = render @items

    .col-md-4
      %h1= current_user.email
      %p Something about user todo items or historical completion of tasks
